@import './../../../../styles.scss';

@import './../../../assets/styles/theme.scss';

.ticket {
    height: 30em;
    width: 27em;
    border: 0.2em solid $p-foreground-light;
    background-color: $p-background-light;
    border-radius: 1.5em;
    display: flex;
    flex-direction: column;

    .header-container {
        flex: 0 1 3em;

        > section {
            height: 100%;
            width: 100%;
            display: flex;

            .text-container {
                cursor: pointer;
                flex: 1 1 auto;
            }
            
            .btn-container {
                flex: 0 1 3em;
                display: flex;
                align-items: center;
                justify-content: center;

                > span {
                    display: inline-block;
                    font-size: 2em;
                    color: $p-foreground-light;
                    flex: 0 1 auto;
                    cursor: pointer;
                }
            }
        }
    }

    .body-container {
        flex: 1 1 auto;
        padding: 0 0.5em 0.5em 0.5em;

        & > div {
            height: 100%;
            width: 100%;
            background-color: lighten($p-background-light, 2%);
            border: 0.2em solid $p-foreground-light;
            box-sizing: border-box;
            border-radius: 0 0 1.1em 1.1em;
        }
    }
}