@import './../../../../styles.scss';

@import './../../../assets/styles/theme.scss';

.ticket {
    height: 15em;
    width: 13em;
    border: 0.2em solid darken($p-dark, 6%);
    background-color: $p-dark;
    border-radius: 1em;
    display: flex;
    flex-direction: column;

    .ticket-header {
        flex: 0 1 2em;
        cursor: pointer;
    }
}