/* You can add global styles to this file, and also import other style files */

// palette
$p-background: #555B6E;
$p-dark: #89B0AE;
$p-main: #98C6C3;
$p-light: #BEE3DB;
$p-accent-1: #FAF9F9;
$p-accent-2: #FFD6BA;

html {
    font-size: 100%;
}

.main {
    padding: 0;
    margin: 1em;
    width: calc(100% - 2em);
    height: calc(100% - 2em);
    background-color: $p-background;
}