/* You can add global styles to this file, and also import other style files */

// palette
$cameopink: #D4AFB9;
$lightperiwinkle: #D1CFE2;
$wildblue: #9CADCE;
$middleblue: #7EC4CF;
$maximumblue: #52B2CF;

.main {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: $lightperiwinkle;
}